@font-face {font-family: jf-openhuninn; src: url(../font/jf-openhuninn-1.1.ttf);}

div {
    font-family: jf-openhuninn;
}
input{
    border:2px solid #7E6CA8;
    border-radius: 100px;
    color:#7E6CA8;
    font-family:jf-openhuninn;
    margin: 8px 0px;
    padding: 15px 20px;
}
.TitleContent{
    text-align:center;
    font-family:jf-openhuninn;
    font-size:50px;
    color:#7E6CA8;
}
.BodyContent{
    font-family:'Roboto Mono Thin';
    font-size:50px;
    color:#7E6CA8;
}
.BodyKeyword{
    font-family:'Roboto Mono Medium';
    font-weight:bold;
    color:#7A6CA8;
    transition: .3s;
}
.BodyKeyword:hover{
    font-size:larger;
    color:#C7B83C;
    transition: .3s;
}
.ImageBox{
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-color: red;
}
.Image1{
    margin: auto;
    width: 450px;
    height: 525px;
    border: 1px solid aqua;
}
.YurikoKeyword{
    color:#C7B83C
}
.coolEhAnnaColor{
    text-align:center;
    font-weight:bold;
    font-size:60px;
    color:#7E6CA8
}
.Annaimage{
    width: 410px;
    border:6px solid #7E6CA8;
    border-radius: 30px;
    transition: .5s;
}
.Annaimage:hover{
    padding:3px;
    border:12px solid #7E6CA8;
    width: 390px;
    transition: .2s;
}
.Yurikoimage{
    width: 410px;
    border:6px solid #C7B83C;
    border-radius: 30px;
    transition: .5s;
}
.Yurikoimage:hover{
    padding:5px;
    width: 400px;
    transition: .2s;
}
.center{
    text-align:center
}
#ImageBox{
    text-align: center;
}
#btn{
    border:5px solid #7E6CA8;
    color:#3C3C3C;
    background-color:transparent;
    padding:18px;
    margin:20px;
    font-size:30px;
    font-family: jf-openhuninn;
    cursor: pointer;
    border-radius:500px;
    transition: .1s;
}
#btn:hover{
    font-size:32px;
    background-color:#7E6CA8;
    color:#ececec;
    transition: .1s;
}
@media screen and (max-width:600px){
    .head{font-size:24;}
    .content{
        width: 100%;
        text-align: center;
    }
}